<template>
  <div>
    <v-text-field
      v-model="numstatus.num"
      label="Please Input Number"
      hint="input your number"
      :rules="[
        (v) => !!v || 'Number is not empty!!',
        (v) => v.length >= 0 || 'Number is not empty!!',
      ]"
    ></v-text-field>
    <table v-if="numstatus.num > 0" class="">
      <tr v-for="row in rowonnum" :key="row">
        <td v-for="n in row" :key="n">{{ n }}</td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import { watch, reactive, computed } from "vue";

export default {
  setup() {
    const numstatus = reactive({
      num: 0,
      error: false,
    });

    watch(
      () => numstatus.num,
      (thevalue) => {
        if (thevalue.toString() === "") {
          numstatus.error = true;
        } else {
          numstatus.error = false;
        }
      }
    );

    const rowonnum = computed(() => {
      const row = [];
      let intherow = 1;
      for (let i: number = 1; i <= numstatus.num; i++) {
        if (i % 12 === 1) {
          row[intherow] = [i];
        } else {
          row[intherow].push(i);
        }
        if (i % 12 === 0) intherow++;
      }
      return row;
    });

    return {
      numstatus,
      rowonnum,
    };
  },
};
</script>

<style>
table {
  width: 100%;
}
td {
  width: 8.333%; /* 100 / 12 = 8.333 */
  height: 50px;
  text-align: center;
}
</style>
