<template>
  <v-container
    ><div class="float-left">
      <img v-if="Imgselect === 1" :src="imgangry" />
      <img v-if="Imgselect === 2" :src="imgcute" />
      <img v-if="Imgselect === 3" :src="imgexcite" />
      <img v-if="Imgselect === 4" :src="imgpain" />
      <img v-if="Imgselect === 5" :src="imgshock" />
      <img v-if="Imgselect === 6" :src="imgsmile" />
    </div>
    <div class="float-center">
      <v-table>
        <v-row>
          <v-col>
            <h2 class="text-center">{{ imgshowtext }}</h2>
          </v-col>
        </v-row>
        <v-row
          ><v-col>
            <v-btn class="buttonlayer" @click="swapimg(1)">ANGRY</v-btn>
          </v-col>
        </v-row>
        <v-row
          ><v-col>
            <v-btn class="buttonlayer" @click="swapimg(2)">CUTE</v-btn>
          </v-col>
        </v-row>
        <v-row
          ><v-col>
            <v-btn class="buttonlayer" @click="swapimg(3)">EXCITED</v-btn>
          </v-col>
        </v-row>
        <v-row
          ><v-col>
            <v-btn class="buttonlayer" @click="swapimg(4)">PAIN</v-btn>
          </v-col>
        </v-row>

        <v-row
          ><v-col>
            <v-btn class="buttonlayer" @click="swapimg(5)">SHOCKED</v-btn>
          </v-col>
        </v-row>

        <v-row
          ><v-col>
            <v-btn class="buttonlayer" @click="swapimg(6)">SMILE</v-btn>
          </v-col>
        </v-row>
      </v-table>
    </div>
  </v-container>
</template>
<script lang="ts">
export default {
  data() {
    return {
      Imgselect: 6,
      imgangry: "feeling_imgs\\angry.png",
      imgcute: "feeling_imgs\\cute.png",
      imgexcite: "feeling_imgs\\excited.png",
      imgpain: "feeling_imgs\\pain.png",
      imgshock: "feeling_imgs\\shocked.png",
      imgsmile: "feeling_imgs\\smile.png",
      imgshowtext: "Smile",
    };
  },
  methods: {
    swapimg(abs: number) {
      this.Imgselect = abs;
      switch (abs) {
        case 1:
          this.imgshowtext = "Angry";
          break;
        case 2:
          this.imgshowtext = "Cute";
          break;
        case 3:
          this.imgshowtext = "Excited";
          break;
        case 4:
          this.imgshowtext = "Pain";
          break;
        case 5:
          this.imgshowtext = "Shocked";
          break;
        case 6:
          this.imgshowtext = "Smile";
          break;
      }
    },
  },
};
</script>

<style scoped>
.buttonlayer {
  width: 600px;
  margin-left: 55px;
  border: 5px;
}
.buttonlayer:hover {
  background-color: yellow;
}
</style>
