<template>
  <v-table>
    <v-row>
      <v-col
        ><v-container class="ma-0"
          ><v-table class="do">
            <v-col
              ><v-content>
                <v-row>
                  <v-col v-for="product in products" :key="product.id" cols="4">
                    <v-card>
                      <v-card-title>{{ product.name }}</v-card-title>
                      <v-card-subtitle>{{ product.price }}</v-card-subtitle>

                      <v-btn
                        class="btnstyle"
                        @click="addtoList(product)"
                        color="white"
                        >ADD</v-btn
                      >
                    </v-card>
                  </v-col></v-row
                ></v-content
              ></v-col
            >
          </v-table></v-container
        ></v-col
      >
      <v-col
        ><v-container class="list"
          ><v-table>
            <thead>
              <tr>
                <th class="text-left">ID</th>
                <th class="text-left">Name</th>
                <th class="text-left">Price</th>
              </tr>
            </thead>
            <tbody>
              <v-if></v-if>
              <tr v-for="item in itemproduct" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
            <h3 class="center" v-if="itemproduct.length === 0">No Data</h3>
          </v-table>
        </v-container>
      </v-col>
    </v-row>

    <v-col class="text-center"></v-col>
    <v-col>
      <h2>Sum: {{ theprice }}</h2>
    </v-col>
  </v-table>
</template>

<script lang="ts" setup>
import { ref, computed } from "vue";
const theprice = computed(() => {
  let total = 0;
  for (let i = 0; i < itemproduct.value.length; i += 1) {
    total += itemproduct.value[i].price;
  }
  return total;
});
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const itemproduct = ref([]);

const addtoList = (product: any) => {
  itemproduct.value.push(product);
};
</script>

<style scoped>
.do {
  overflow-y: auto;
  max-height: 700px;
  max-width: 100%;
  text-align: center;
  overflow-x: hidden;
}
.central {
  text-align: center;
  margin-left: 200px;
}

.react {
  float: right;
  max-width: 50%;
  max-height: 700px;
}

.btnstyle {
  width: 50px;
  height: 30px;
  margin-bottom: 5px;
}
</style>
