<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const counterstore = useCounterStore();
</script>
<template>
  <div>SecondComponent</div>
  <div>{{ counterstore.doubleCount }}</div>
  <v-btn @click="counterstore.decrease">DECRESE</v-btn>
</template>
